
@use 'mixins';
@import 'cores';

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish, Montserrat, Roboto, cursive;
}

body {
    @include mixins.background;
};

button {
    width: 10.5rem;
    border: none;
    border-radius: 3.43rem;
    height: 3rem;
    background-color: $cor-principal;
    color: white;
}

p {
    color: $cor-text-p;
}

.container {
    &-position {
        width: 90%;
        margin: auto;
        header {
            width: 100%;
            nav {
                display: flex;
                align-items: center;
                width: 100%;
                height: 4rem;
                justify-content: space-between;
                .logo-princ {
                    display: flex;
                    width: 10rem;
                    align-items: center;
                    .logo-input {
                        width: 2.56rem;
                        height: 2.56rem;
                        border-radius: 50%;
                        background-color: $cor-principal;
                        position: relative;
                        h1 {
                            @include mixins.center;
                            color: white;
                        }
                    }
                    h2 {
                        margin-left: .75rem;
                        font-size: 1.5rem;
                    }
                }
                .navegation {
                    display: none;
                }
            }
        }

        section {
            text-align: center;

            .banner {
                display: grid;
                width: 90%;
                margin: auto;
                margin-top: 2rem;
                grid-template-rows: auto auto;
                
                .text-banner {
                    width: auto;
                    h1 {
                        font-size: 2rem;
                    }
                    p {
                        font-size: 1rem;
                        margin: 1rem 0;
                    }
                }
                .image-banner {
                    display: none;
                }
            }
        }
        section.section-service {
            margin-top: 2rem;
            position: relative;
            height: 120rem;
            .text-section {
                margin-bottom: 4rem;
                h1:after {
                    content: "";
                    display: block;
                    width: 3.5rem;
                    height: .125rem;
                    background-color: black;
                    margin: 1rem auto;
                }
                p {
                    text-align: justify;
                }
            }
            .service-princ {
                display: grid;
                gap: 2.125rem;
                height: 60rem;
                grid-template-rows: auto auto auto auto auto auto;
                grid-template-columns: auto;
                .card-service {
                    width: 100%;
                    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.171);
                    height: 15rem;
                    img {
                        margin-top: 2rem;
                    }
                    h2 {
                        margin: .5rem 0;
                        font-size: 1.3rem;
                    }
                }
            }
            button {
                position: absolute;
                bottom: 0;
                left: 50%;
                background-color: transparent;
                border: 1.4px solid $cor-principal;
                color: $cor-principal;
                font-weight: 700;
                transform: translateX(-50%);
            }
        }
        section {
            margin-top: 1rem;
            .curiosidade {
                img {
                    width: 300px;
                    margin-top: 2rem;
                }
            }
            .text-curiosidade {
                h1 {
                    margin-top: 1rem;
                }
                p {
                    margin: 1rem 0;
                    text-align: justify;
                }
                button {
                    margin: 1rem 0;
                }
            }
        }
        section {
            .testimonials {
                width: 100%;
                height: 16rem;
                .swiper-slide {
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
                    border-radius: 1.5rem;
                    p {
                        color: white;
                        text-align: center;
                    }
                }
                address {
                    font-style: normal;
                    margin-top: 2rem;
                    margin-bottom: -1.3rem;
                    p {
                        width: 90%;
                        text-align: justify;
                        font-size: 1.1rem;
                        margin: auto;
                    }
                }
            }
        }
        section {
            .text-section {
                text-align: left;
                h1 {
                    text-align: center;
                    margin-top: 2rem;
                }
                h1:after {
                    content: '';
                    display: block;
                    width: 3.5rem;
                    height: .125rem;
                    background-color: black;
                    margin: 1rem auto;
                }
                    .card-princ {
                        display: grid;
                        gap: 2.3rem;
                        .card-new {
                            border-radius: 1.5rem;
                            overflow: hidden;
                            height: 30rem;
                            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.171);
                            strong {
                                p {
                                    margin: 1rem 2rem;
                                    font-size: 1.2rem;
                                    color: black;
                                }
                            }
                            p {
                                margin: 0 2rem;
                            }
                            .link {
                                display: flex;
                                align-items: center;
                                margin: 1.56rem 2rem;
                                width: 100%;
                                a {
                                    display: block;
                                    text-decoration: none;
                                    margin-right: .3rem;
                                    color: $cor-principal;
                                    font-weight: 700;
                                }
                                i {
                                    color: $cor-principal;
                                }
                            }
                        }
                        button {
                            margin: auto;
                            background-color: transparent;
                            border: 1.4px solid $cor-principal;
                            color: $cor-principal;
                            font-weight: 700;
                        }
                    }
            }
        }
    }
    footer {
        display: grid;
        grid-template-rows: auto auto auto;
        background-color: $cor-principal;
        margin-top: 3rem;
        .footer {
            .logo-princ {
                display: flex;
                margin: auto;
                margin-top: 2rem;
                width: 10rem;
                align-items: center;
                .logo-input {
                    width: 2.56rem;
                    height: 2.56rem;
                    border-radius: 50%;
                    background-color: white;
                    position: relative;
                    h1 {
                        @include mixins.center;
                        color: $cor-principal;
                        font-size: 1.62rem;
                    }
                }
                h2 {
                    margin-left: .75rem;
                    color: white;
                    font-size: 1.5rem;
                }
            }
            
            &-text {
                width: 21.43rem;
                margin: auto;
                p {
                    text-align: left;
                    margin: 2rem 0;
                    color: white;
                }
            }
        }
        .footer-title {
            text-align: center;
            margin: 1rem 0;
            ul {
                list-style: none;
                li {
                    margin: .4rem 0;
                    color: white;
                    font-weight: lighter
                };
            }
            p {
                margin: 1rem 0;
                color: white;
                font-weight: bold;
            }
        }
        
    }
};
